@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager


@if (_signInManager.IsSignedIn(User))
{
    <div class="dropdown my-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, @(User.FindFirst("UserFirstName").Value+" "+ @User.FindFirst("UserLastName").Value)
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profile</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="changePassword">Change password</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}
else
{

    <ul class="navbar-nav d-flex flex-row my-2">
        <li class="nav-item me-2"><a class="btn btn-outline-success" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a></li>
        <li class="nav-item "><a class="btn btn-success" asp-controller="Account" asp-action="signup">SignUp</a></li>
    </ul>
}