@model E_Commerce.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="bg-light">

    <div class="container" >


        <div class="row shadow-sm " style="min-height: 90vh; margin-top: 2%; border-radius:15px 15px;; background: linear-gradient(45deg,#0288d1,#26c6da) !important;">
            <div class="col-md-5 align-self-center" >
                <form method="post" class="card p-4 my-3 my-md-0">
                    <h4 class="text-center mb-3">Login </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        
                        <div class="form-floating mb-2">
                            <input asp-for="Email"  class="form-control" value="dhavalvaghela1112@gmail.com"  placeholder="Name here" />
                            <label asp-for="Email" class="control-label is-invalid"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating">
                        
                        <div class="form-floating mb-2">
                            <input asp-for="Password" value="Saurin@123" class="form-control" placeholder="Name here" />
                            <label asp-for="Password"  class="control-label is-invalid"></label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                        </label>
                        <a asp-controller="Account" class="float-end text-secondary  text-decoration-none" asp-action="ForgotPassword">Forgot Password..?</a>
                    </div>
                    <br />
                    <div class="form-group d-grid rounded-pill text-center">
                        <input type="submit" value="Login" class="btn btn-primary d-block" />
                    </div>
                        <div class="mt-2">
                            <a asp-action="Index" asp-controller="Home" class="text-decoration-none text-secondary">Back to home page</a>
                            <a asp-action="Signup" asp-controller="Account" class="float-end text-decoration-none text-secondary">Go to signup page</a>
                        </div>

                </form>
            </div>

            <div class="d-md-flex d-none col-md-7 align-items-center p-3 bg-white" style="min-height: 90vh ;">

                <img src="~/img/signupscreen.webp" class="img-fluid" />
            </div>
        </div>



    </div>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
