
@{
    ViewData["Title"] = "Profile";
}

@model UserProfileModel

<style>
    .btnGray {
        background-color: #D3D3D3;
        color: black;
    }

    .lgGray {
        background-color: #F5F5F8;
    }
</style>



<div class="container">

    @if (Model?.IsSuccess == true)
    {
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            
            Profile data updated Successfully done..! 
            <div class="me-auto">
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        Model.IsSuccess = false;
    }

    <h1>Profile</h1>

    <hr />


    <div class="container rounded shadow-sm">
        <div class="row border rounded p-4 ">

            <div class="col-md-3 border-right lgGray py-2 rounded mr-5 ">

                <div class="d-flex flex-column align-items-center text-center">
                    <img class="rounded-circle" width="100" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">@(Model?.FirstName+" "+Model?.LastName)</span>
                    <span style="word-wrap: anywhere;" class="text-black-50">@Model?.EmailAddress</span>
                    
                </div>
                <div class=" offset-1 col-md-12 mt-5">
                    <div class="row w-80">

                        <a class="btn btn-secondary btnGray btn-block col-10">Profile</a>
                    </div><br />
                </div>

                <div class=" offset-1 col-md-12">
                    <div class="row w-80">

                        <a class="btn btn-secondary btnGray btn-block col-10" asp-controller="address" asp-action="alladdresses">Manage addresses</a>
                    </div><br />
                </div>
                <div class=" offset-1 col-md-12">
                    <div class="row w-80">

                        <a class="btn btn-secondary btn-block btnGray col-10">Logout</a>
                    </div><br />
                </div>

                @*<div class="col-md-12"><input type="text" class="form-control" value="" placeholder="Addresses"></div><br />
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Logout" value=""></div><br />
                *@


            </div>

            <div class="col-md-7 border-right mr-auto offset-md-1">
                <div class="">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Details</h4>
                    </div>
                    <form method="post">

                        <div class="row mt-1">
                            <div class="mb-4 col-md-6">
                                <label class="labels" asp-for="FirstName"></label>
                                <input type="text" class="form-control" placeholder="first name" asp-for="FirstName">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="mb-4 col-md-6">
                                <label class="labels" asp-for="LastName"></label>
                                <input type="text" class="form-control" asp-for="LastName" placeholder="surname">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="mb-4 col-md-12">
                                <label class="labels" asp-for="MobileNumber"></label>
                                <input type="text" class="form-control" placeholder="enter phone number" asp-for="MobileNumber" readonly>
                            </div>

                            <div class="mb-4 col-md-12">
                                <label class="labels" asp-for="EmailAddress"></label>
                                <input type="text" class="form-control" placeholder="enter phone number" asp-for="EmailAddress" readonly>
                            </div>

                            <div class="mb-4 col-md-12">
                                <label class="labels" asp-for="DateOfBirth"></label>
                                <input type="date" class="form-control" placeholder="enter Date of Birth" asp-for="DateOfBirth">
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button mb-3" type="submit">Save Changes</button></div>
                    </form>



                </div>

                
            </div>

        </div>
    </div>





</div>