@model UserHomePageModel

@{
    ViewData["Title"] = "Home Page";
}







<div class="container">




    <h3 class="text-center">Offeres advertise</h3>
    <div id="carouselExampleControls" class="carousel slide shadow-sm" data-bs-ride="carousel">
        <div class="carousel-inner rounded">
            <div class="carousel-item rounded">

                <img src="~/img/carousel/SpicesListPopular.svg" class="d-block w-100 rounded"  alt="...">
            </div>

            <div class="carousel-item rounded">

                <img src="~/img/carousel/Rice images.svg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="~/img/carousel/top-view-delicious-flapjacks-with-different-ingredients-seasonings-pasta-dark-background-color-food-meal-dish-bread-bun_140725-160872 1.svg" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item rounded">

                <img src="~/img/carousel/healthyImage.svg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item rounded">
                <div>

                    <img src="~/img/carousel/haldimirchchamach.svg" style="" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="bg-light py-2">


    <div class="container px-2">
        <h4 class="text-center my-3">Categories</h4>
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="col-sm-4 col-md-3 mb-2 col-6">
                    <div class="card bgImage border shadow-sm" style="background-image:url(@category.CoverImageUrl)">
                        <h3 class="categoryHeading ">
                            @category.CategoryName
                        </h3>
                    </div>
                </div>
            }
            <div class="col-sm-4 col-md-3 mb-2 col-6">
                <div class="card bgImage border shadow-sm">
                    <h3 class="categoryHeading ">
                        Chilli
                    </h3>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 mb-2 col-6">
                <div class="card bgImage border shadow-sm">
                    <h3 class="categoryHeading ">
                        Rice
                    </h3>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 mb-2 col-6">
                <div class="card bgImage border shadow-sm">
                    <h3 class="categoryHeading ">
                        Oil
                    </h3>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 mb-2 col-6">
                <div class="card bgImage border shadow-sm" style="background-image: url(https://th.bing.com/th/id/R.e2adb99024e913192fe785ee7cbf9153?rik=efJS54rd5jFvog&riu=http%3a%2f%2fyesofcorsa.com%2fwp-content%2fuploads%2f2020%2f02%2fGaram-Masala-Best-Wallpaper.jpeg&ehk=9xjNKlT6HlI6uw5d7jLfp%2b8aSFofNlR%2bsfTdhSfflaI%3d&risl=&pid=ImgRaw&r=0) ">
                    <h3 class="categoryHeading ">
                        Masala
                    </h3>
                </div>
            </div>


        </div>


    </div>
</div>

<div class="bg-light py-2">


    <div class="container px-2">
        <h4 class="text-center my-3">Adverticement of products</h4>
        <div class="row">

            <div class="col-md-6">
                <div class="card m-2">

                    <div class="card-body">
                        <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="img-fluid" alt="Alternate Text" />

                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2">

                    <div class="card-body">
                        <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="img-fluid" alt="Alternate Text" />

                    </div>

                </div>
            </div>


        </div>


    </div>
</div>



<div class="container ">
    <h4 class="text-center my-4">Top Products</h4>
    <div class="row">
        @foreach (var product in Model.Products)
        {


            <partial name="_Product" model="@product" />

        }


    </div>
</div>



@*<style>
        .bg-info{
            border:1px solid gray;
        }
    </style>
    <div class="row">
        <div class="col-md-4 col-lg-2 col-sm-8  bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
    </div>
*@





















<!--<br>
<br>
<div class="row justify-content-center">
    <p></p>
    <img class="img-fluid mb-4" src="~/images/1.jpg" alt="">
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-3 col-sm-6 col-6 mb-3">
            <div class="card p-4 text-white font-weight-bold bg-success">
                <div class="card-body">
                    <p class="row card-text justify-content-center">Grocery</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-6 mb-3">
            <div class="card p-4 text-white font-weight-bold bg-success">
                <div class="card-body">
                    <p class="row card-text justify-content-center">Fruit</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6 mb-3">
            <div class="card p-4 text-white font-weight-bold bg-success">
                <div class="card-body">
                    <p class="row card-text justify-content-center">Food</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-6 mb-3">
            <div class="card p-4 text-white font-weight-bold bg-success">
                <div class="card-body">
                    <p class="row card-text justify-content-center">Drinks</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
<!---->
<!--@*<div class="container">*@
    <h2 class="m-3">Feature Product</h2>
    <section>
        <div class="row ml-lg-2 mr-lg-2">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <h2>Top Rated Product</h2>
    <section>
        <div class="row ml-lg-2 mr-lg-2">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name of the product with some details</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
                <div class="card mt-2 mb-2 p-2 rounded">
                    <div class="row">
                        <img src="~/images/11.jpeg" class="card-img-top w-75 mx-auto" alt="...">
                        <div class="card-body text-center m-0 p-0 mb-3">
                            <p class="card-title m-0 p-0 mt-2 mb-1">Name</p>
                            <p class="card-text m-0 p-0">Rs.Price</p>
                            <a href="/product/getproduct/Id" class="btn btn-default border border-success m-2">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row justify-content-center">
    <img class="img-fluid mb-4" src="~/images/4.png" alt="">
</div>-->
