@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h3 class="text-center">Offeres advertise</h3>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<div class="bg-light py-2   ">


    <div class="container">
        <h4 class="text-center">Offer on products</h4>
        <div class="row">

            <div class="col-md-6">
                <div class="card m-2">

                    <div class="card-body">
                        <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="img-fluid" alt="Alternate Text" />
                        This is some text within a card body asda    aaaaaa.
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2">

                    <div class="card-body">
                        <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="img-fluid" alt="Alternate Text" />

                        This is some text within a card body.
                    </div>

                </div>
            </div>


        </div>


    </div>
</div>


<div class="container">
    <h4 class="text-center">Top Products</h4>
    <div class="row">

        <div class="col-md-3 col-lg-2 col-sm-4 col-6">
            <div class="card m-1">

                <div class="card-body">
                    <img src="https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg" class="img-fluid" alt="Alternate Text" />

                    This is some text within a card body.
                </div>

            </div>
        </div>
        <div class="col-md-3 col-lg-2 col-sm-4 col-6">
            <div class="card m-1">

                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>
        </div>
        
        <div class="col-md-3 col-lg-2 col-sm-4 col-6">
            <div class="card m-1">

                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>
        </div>
        
        <div class="col-md-3 col-lg-2 col-sm-4 col-6">
            <div class="card m-1">

                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>
        </div>
        
        <div class="col-md-3 col-lg-2 col-sm-4 col-6">
            <div class="card m-1">

                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>
        </div>
        
        <div class="col-md-3 col-lg-2 col-sm-4 col-6">
            <div class="card m-1">

                <div class="card-body">
                    This is some text within a card body.
                </div>

            </div>
        </div>
        

    </div>
</div>

@*<style>
        .bg-info{
            border:1px solid gray;
        }
    </style>
    <div class="row">
        <div class="col-md-4 col-lg-2 col-sm-8  bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
        <div class="col-md-4 col-lg-2 col-sm-8 bg-info col-xl-1 ">Hello</div>
    </div>
*@