/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.stike {
    color: gray;
    font-size: 12px;
}

.imgbottom {
    margin-bottom: -10px;
}

.price {
    font-size: 13px;
    color: #c47a0a;
}

.cursorHover {
    cursor: pointer;
}











.lt > li > a {
    text-decoration: none;
    color: green;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: mediumseagreen;
    padding: 4px;
    border-radius: 5px;
}

.priceStrike{
    color:gray;
    font-weight:normal;
}


.categoryHeading {
    background-color: rgba(0,0,0,.4);
    border-radius: 3px;
    margin: 0px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Berlin Sans FB';
    justify-content: center;
    text-shadow: 2px 2px 5px black;
    opacity: 0.87;
}

.bgImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://thumbs.dreamstime.com/b/word-fruits-made-fruits-20779888.jpg)
}


.cartListImageDiv {
    max-height: 11rem;
    max-width: 6rem;
}

.productName, .productSaler {
    line-height: 18px;
}

.productSaler {
    font-size: 1rem;
    color: dimgray;
}

.productQuantity {
    line-height: 18px;
}

.wdtotal {
    color: darkgray;
}

.cartDiscount {
    font-size: 15px;
    opacity: 0.8;
}

.placeOrderButton {
    background-color: darkorange;
    border-color: darkorange;
    border-radius: unset;
    margin-bottom: 1rem;
}

.sidebarTextSize {
    font-size: 10px;
}

